# bundle
node_modules/
dist/
bundle/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# assets
*.mp3
*.mp4
*.ogv
*.webm
# Editor directories and files
*.idea
.vscode/
# other
_笔记/
react(16.12.0)
vue(2.6.10)
