*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	overflow: hidden;
}
#wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	background: #383838;*/
	font-size: 0;
}
#wrap .control{
	position: absolute;
	bottom: 0;
	z-index: 1;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	min-width: 400px;
} 
#wrap .btns{
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
    height: 25px;
    text-align: center;
}
#wrap .btns span{
	display: inline-block;
    width: 9px;
    height: 11px;
    background: url(../images/icon.png) no-repeat;
    margin-top:7px;
}
#wrap .btns .start{
	background-position: 0px -23px;
	margin-right: 10px;
}
#wrap .btns .start.active{
	background-position: 0px -11px;
}
#wrap .btns .stop{
	background-position: 0px 0px;
}
#wrap .control .progress{
	margin: 0 230px 0 55px;
}
#wrap .progress{
	position: relative;
	height: 25px;
}
#wrap .progress .wrap{
	position: absolute;
	width: 100%;
	height: 3px;
	margin-top: 11px;
	background: #737373;
}
#wrap .progress .wrap .inner{
	position: absolute;
	width: 9px;
	height: 7px;
	background: white;
	border-radius: 2px;
	margin-top: -2px;
}
#wrap .progress .deeppink{
	position: absolute;
	height: 3px;
	margin-top: 11px;
	background: deeppink;
}

#wrap .others{
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
    height: 25px;
}
#wrap .others div{
	height: 25px;
    float: left;
}
#wrap .others .time{
	width: 120px;
    font-size: 12px;
    color: white;
    line-height: 25px;
    text-align: center;
}
#wrap .others .sound{
	width: 80px;
}
#wrap .others .sound div{
	height: 25px;
	float: left;
}
#wrap .others .sound .switch{
	width: 20px;
	text-align: center;
}
#wrap .others .sound .switch span{
	display: inline-block;
	margin: 7px auto;
	width: 12px;
	height: 12px;
	background: url(../images/icon.png) no-repeat;
	background-position:0 -34px;
}
#wrap .others .sound .switch span.active{
	background-position:0 -46px;
}
#wrap .others .sound .progress{
	position: relative;
	margin: 0;
	width: 60px;
}
#wrap .others .sound .progress .wrap{
	position: absolute;
    width: 100%;
    height: 3px;
    margin-top: 11px;
    background: #737373;
}
#wrap .others .sound .progress .wrap .inner{
	position: absolute;
    width: 9px;
    height: 7px;
    background: white;
    border-radius:2px ;
    margin-top: -2px;
}
#wrap .others .sound .progress .deeppink{
	position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    margin-top: 11px;
    background: deeppink;
}
#wrap .others .full-screen{
	width: 30px;
	height: 25px;
	text-align: center;
}
#wrap .others .full-screen span{
	display: inline-block;
	margin: 7px auto;
	width: 11px;
	height: 11px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0 -58px;
}
#wrap .others .full-screen span.active{
	background-position: 0 -71px;
}
